/* * {
    outline: 1px solid red;
} */

* {
  box-sizing: border-box;
}

/* fonts */
@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "PTSansCaptionRegular";

  src: url("../fonts/PTSans/PTSansCaptionRegular.eot");
  src: url("../fonts/PTSans/PTSansCaptionRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans/PTSansCaptionRegular.woff") format("woff"), url("../fonts/PTSans/PTSansCaptionRegular.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "PTSansCaptionBold";

  src: url("../fonts/PTSans/PTSansCaptionBold.eot");
  src: url("../fonts/PTSans/PTSansCaptionBold.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans/PTSansCaptionBold.woff") format("woff"), url("../fonts/PTSans/PTSansCaptionBold.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: bold;
  font-family: "Baufra-Bold";

  src: url("../fonts/Baufra/Baufra-Bold.eot");
  src: local("Baufra-Bold"), url("../fonts/Baufra/Baufra-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Baufra/Baufra-Bold.woff") format("woff"), url("../fonts/Baufra/Baufra-Bold.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Baufra-Regular";

  src: url("../fonts/Baufra/Baufra-Regular.woff");
  src: local("Baufra-Regular"), url("../fonts/Baufra/Baufra-Regular.eot") format("embedded-opentype"), url("../fonts/Baufra/Baufra-Regular.woff") format("woff"), url("../fonts/Baufra/Baufra-Regular.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Baufra-SemiBold";

  src: url("../fonts/Baufra/Baufra-SemiBold.eot");
  src: local("Baufra-SemiBold"), url("../fonts/Baufra/Baufra-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Baufra/Baufra-SemiBold.woff") format("woff"), url("../fonts/Baufra/Baufra-SemiBold.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Baufra-Medium";

  src: url("../fonts/Baufra/Baufra-Medium.eot");
  src: local("Baufra-Medium"), url("../fonts/Baufra/Baufra-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Baufra/Baufra-Medium.woff") format("woff"), url("../fonts/Baufra/Baufra-Medium.ttf") format("truetype");
}

@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 13px;
  }
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

/* header block */
header {
  width: 100%;
  height: 100vh;
}

.profile-information {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  max-width: 500px;
  height: min-content;
  margin-top: 50px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
}

.profile-photo {
  display: block;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  overflow: hidden;

  background-color: #ffffff;
  border-radius: 50%;

  user-select: none;
  pointer-events: none;
}

.my-photo {
  width: 100%;
  height: auto;
}

.profile-info {
  margin: 0 auto;
  margin-top: 15px;
  padding-right: 15px;
  padding-left: 15px;

  font-style: 1.125rem;
  font-family: "Baufra-Bold", "Arial", "Helvetica", sans-serif;
  color: #ffffff;
}

.profesion {
  color: #88c8ff;
}

.profile-desc {
  margin-top: 35px;

  font-size: 1.125rem;
  font-family: "PTSansCaptionRegular", "Arial", "Helvetica", sans-serif;
  text-align: right;
  color: #fcfcfc;
}

/* arrow */
.arrowbox {
  position: absolute;
  right: 0;
  bottom: 2.0625rem;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 68px;
  height: 0;
  margin: auto;
}

.arrow-icon {
  width: 50px;
  height: 50px;

  fill: rgba(255, 255, 255, 0.5);
}

@media (max-width: 768px) {
  .arrow__icon {
    width: 40px;
    height: 40px;
  }
}

/* main block*/
main {
  min-height: 1000px;
}

/* styles from libs */

.particles-js {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  min-height: 548px;

  background-color: #151019;
  background-image: url("");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
