* {
  outline: 1px solid red;
  box-sizing: border-box;
}

/* fonts */
@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "PTSansCaptionRegular";

  src: url("../fonts/PTSans/PTSansCaptionRegular.eot");
  src: url("../fonts/PTSans/PTSansCaptionRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans/PTSansCaptionRegular.woff") format("woff"), url("../fonts/PTSans/PTSansCaptionRegular.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "PTSansCaptionBold";

  src: url("../fonts/PTSans/PTSansCaptionBold.eot");
  src: url("../fonts/PTSans/PTSansCaptionBold.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans/PTSansCaptionBold.woff") format("woff"), url("../fonts/PTSans/PTSansCaptionBold.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: bold;
  font-family: "Baufra-Bold";

  src: url("../fonts/Baufra/Baufra-Bold.eot");
  src: local("Baufra-Bold"), url("../fonts/Baufra/Baufra-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Baufra/Baufra-Bold.woff") format("woff"), url("../fonts/Baufra/Baufra-Bold.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Baufra-Regular";

  src: url("../fonts/Baufra/Baufra-Regular.woff");
  src: local("Baufra-Regular"), url("../fonts/Baufra/Baufra-Regular.eot") format("embedded-opentype"), url("../fonts/Baufra/Baufra-Regular.woff") format("woff"), url("../fonts/Baufra/Baufra-Regular.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Baufra-SemiBold";

  src: url("../fonts/Baufra/Baufra-SemiBold.eot");
  src: local("Baufra-SemiBold"), url("../fonts/Baufra/Baufra-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Baufra/Baufra-SemiBold.woff") format("woff"), url("../fonts/Baufra/Baufra-SemiBold.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Baufra-Medium";

  src: url("../fonts/Baufra/Baufra-Medium.eot");
  src: local("Baufra-Medium"), url("../fonts/Baufra/Baufra-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Baufra/Baufra-Medium.woff") format("woff"), url("../fonts/Baufra/Baufra-Medium.ttf") format("truetype");
}

@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 13px;
  }
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

/* header block */
header {
  width: 100%;
  height: 100vh;
}

.profile-information {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  max-width: 500px;
  height: min-content;
  margin: auto;
}

.profile-photo {
  display: block;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  overflow: hidden;

  background-color: #ffffff;
  border-radius: 50%;

  user-select: none;
  pointer-events: none;
}

.my-photo {
  width: 100%;
  height: auto;
}

.profile-info {
  margin: 0 auto;
  margin-top: 25px;
  padding-right: 15px;
  padding-left: 15px;

  font-size: 1.3125rem;
  font-family: "Baufra-Bold", "Arial", "Helvetica", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
}

.profile-profesion {
  margin: 0 auto;
  margin-top: 25px;
  padding-right: 15px;
  padding-left: 15px;

  font-size: 1.3125rem;
  font-family: "Baufra-Bold", "Arial", "Helvetica", sans-serif;
  color: #88c8ff;
}

.profile-desc {
  margin-top: 35px;

  font-size: 1.125rem;
  font-family: "PTSansCaptionRegular", "Arial", "Helvetica", sans-serif;
  text-align: right;
  color: #fcfcfc;
}

.location-block {
  display: flex;
  flex-direction: flex-start;
  align-items: center;
  margin: 0 auto;
}

.location-block > figure {
  margin: 0;
}

.location-img {
  width: 30px;
  height: 30px;
}

.location-list-info {
  display: inline-block;
  margin-top: 12px;

  font-size: 1rem;
  font-family: "PTSansCaptionRegular", "Arial", "Helvetica", sans-serif;
  text-align: center;
  color: #fcfcfc;
}

/* arrow */
.arrowbox {
  position: absolute;
  right: 0;
  bottom: 2.0625rem;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 68px;
  height: 0;
  margin: auto;
}

.arrow-icon {
  width: 50px;
  height: 50px;

  fill: rgba(255, 255, 255, 0.5);
}

@media (max-width: 768px) {
  .arrow__icon {
    width: 40px;
    height: 40px;
  }
}

/* main block*/
main {
  min-height: 1000px;
}

.main {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}

.main-separ {
  width: 50%;
  padding: 15px;
}

.main-separ-left {
  position: relative;
}

.main-separ-left::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  display: block;
  width: 1px;
  height: 100%;

  background-color: #8d8d8d;
}

.section-header {
  width: 190px;
  height: 55px;
  margin: 15px auto 30px;

  border: 1px solid #838c89;
  border-radius: 35px;
}

.section-header h2 {
  margin: 0;

  font-size: 24px;
  line-height: 55px;
  font-family: "PTSansCaptionBold", "Arial", "Helvetica", sans-serif;
  text-align: center;
  color: #1b1b1b;
  text-transform: uppercase;
}

.contact-item-block {
  display: flex;
  align-items: center;
}

.contact-list {
  margin-top: 5px;
  margin-bottom: 2px;
  margin-left: 38px;
}

.contact-item-info {
  font-size: 16px;
  font-family: "PTSansCaptionBold", "Arial", "Helvetica", sans-serif;
  color: #5b6564;
}


/* section about me */

.about-me {
  margin-top: 40px;
}

.about-me-desc {
  margin: 0;
  padding: 5px 10px;

  font-size: 1rem;
  font-family: "PTSansCaptionRegular", "Arial", "Helvetica", sans-serif;
  color: #5d6663;
}

cite {
  display: block;
  margin-top: 10px;

  font-size: 1rem;
  font-family: "PTSansCaptionBold", "Arial", "Helvetica", sans-serif;
  text-align: right;
  color: #1b1b1b;
}

blockquote {
  position: relative;

  margin-right: 25px;
}

blockquote::before {
  content: "\201C";
  position: absolute;
  top: -19px;
  left: -34px;

  display: block;
  padding-left: 10px;

  font-size: 70px;
  color: #7a7a7a;
}

/* section experience  */
.experience {
  margin-top: 40px;
  margin-bottom: 40px;
}

.experience-head {
  margin: 0;

  font-size: 1.25rem;
  font-family: "Baufra-Bold", "Arial", "Helvetica", sans-serif;
  color: #262a36;
}

.experience-time {
  margin: 0;

  font-size: 1rem;
  font-family: "Baufra-Bold", "Arial", "Helvetica", sans-serif;
  color: #9ca6a5;
}

.experience-block ul li {
  position: relative;

  max-width: 743px;
  margin-bottom: 12px;

  list-style: none;
  font-size: 1.125rem;
  line-height: 24px;
  font-family: "PTSansCaptionRegular", "Arial", "Helvetica", sans-serif;
  color: #343339;
}

.experience-block ul li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -26px;

  width: 7px;
  height: 7px;

  background-color: #3b3b3b;
  border-radius: 50%;
}

/* styles from libs */
.particles-js {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  min-height: 548px;

  background-color: #151019;
  background-image: url("");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
